page-studygroup {

  .groupheader {
    height: 30%;
    font-weight: 200 !important;
  }

  .groupheader img {
    border-radius: 50%;
    width: 80%;
    margin: 5%;
  }

  .groupheader span {
    font-size: 2.5em;
    font-weight: 300;
  }

  .headerimage p {
    margin: 0;
  }
  .headertext span {
    font-size: 1.5em;
  }
  .headertext p {
    font-size: 0.9em;
  }
  .headertext {
    // padding-top: 12%;
    margin: auto;
  }

  .groupcontent {
    padding-top: 5%;
    margin-bottom: 5%;
  }
  .groupImg {
    display: inline-block;
    width: 20%;
    margin-left: 3%;
  }
  .groupImg img {
    border-radius: 50%;
  }
  ion-scroll {
    // white-space: nowrap;
    height: 13vh;
    width: 90vw;
  }
  ion-item ion-label {
    color: black !important;
  }
}
