page-login {
  .symplStar{
    height: 225px;
    margin: auto;
    display: block;
  }

  .symplLabel{
    height: 90px;
    margin: auto;
    display: block;
  }

  .body{
    padding-top: 75px;
  }
}
