page-item-detail {
  .item-profile {
    background-position: center center;
    background-size: cover;
    height: 250px;
    width: 100%;
  }

  .item-detail {
    background: white;
    position: absolute;
    width: 100%;
  }
}
