<ion-header>

  <ion-navbar>
    <ion-title>{{ section.courseName }}</ion-title>
    <ion-buttons end>
      <button ion-button small icon-right (tap)=showDropAlert()>
        Drop
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-segment [(ngModel)]="classInfo">
    <ion-segment-button value="professor">
      Professor
    </ion-segment-button>
    <ion-segment-button value="classmates">
      Classmates
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content>

		<div [ngSwitch]="classInfo">
			<ion-list *ngSwitchCase="'professor'">
  			<ion-list-header>
  				Professor
	  		</ion-list-header>
	  		<ion-item>
          Name:
          <ion-note item-right>
            {{section.professor.name}}
          </ion-note>
        </ion-item>
        <ion-item>
          Email:
          <ion-note item-right>
            {{section.professor.email}}
          </ion-note>
        </ion-item>
        <ion-item>
          Office Hours:
          <ion-note item-right>
            Mon, Tue 2-5pm
          </ion-note>
        </ion-item>
      <ion-list-header>
        Upcoming due dates:
      </ion-list-header>
      <ion-item *ngFor="let event of events">
        <h2>{{event.title}}</h2>
        <p class="dueDate">
          {{event.dueDate | date: 'EEE, MMM dd'}} - {{event.dueTime | date: 'hh:mm a'}}
        </p>
        <p text-wrap>{{event.description}}</p>
      </ion-item>
      <ion-list-header>
        Past due dates:
      </ion-list-header>
      <ion-item *ngFor="let event of pastEvents">
        <h2>{{event.title}}</h2>
        <p>
          {{event.dueDate | date: 'EEEE, MMM dd'}}
        </p>
        <p text-wrap>{{event.description}}</p>
      </ion-item>
		</ion-list>
	    <ion-list *ngSwitchCase="'classmates'">
        <ion-list-header>
  				Classmates
	  		</ion-list-header>
        <button ion-item *ngFor="let user of users" (click)="gotoUser(user)" text-capitalize>
          <ion-avatar item-left>
            <img src="{{user.profilePic}}">
          </ion-avatar>
          <h2 text-capitalize> {{user.firstName}} {{user.lastName}}</h2>
          <p text-capitalize>  {{user.major}} </p>
        </button>
      </ion-list>
	</div>
</ion-content>
