page-profile {
	.profileHeader{
		font-weight: bold;
		text-align: center;
		color: white;
	}
	.avatarRow{
		align-items: center;
	  	display: flex;
	  	justify-content: center;
	  	background-color: rgba(#cc2121, .93);
	}
	.avatar{
		height: 150px;
    	width: 150px;
    	border-radius: 50%;
	}
	.profileButtons{}
}
