page-profile {
  .profile-header {
    color: white;
    text-align: center;
    padding: 3px;
	}
  .profile-header:first-of-type {
    font-size: 1.5em;
  }

  .avatar-row {
    align-items: center;
    background-color: rgba(#cc2121, .93);
    display: flex;
    justify-content: center;

	}

  .avatar {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 2px solid lightgrey;
	}

  .profile-buttons {
    background: none;
	}
}
