page-profile {
  .profile-header {
    color: white;
    font-weight: bold;
    text-align: center;
	}

  .avatar-row {
    align-items: center;
    background-color: rgba(#cc2121, .93);
    display: flex;
    justify-content: center;

	}

  .avatar {
    border-radius: 50%;
    height: 150px;
    width: 150px;
	}

  .profile-buttons {
    background: none;
	}
}
