page-map {
  ion-content {
    background-color: white;
  }

  [noScroll] {
    overflow: hidden;
  }

  #map {

    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .centerb {
    text-align: center;
  }

  .filter {
    margin: 0;
    //padding-left: 1.2em;
    padding: 0;
    padding-left: 1.3em;
    font-size: 0.8em;
    background-color: transparent;
    border: 0;
  }

  .select {
    color: red;
  }

  /*button {
    position: absolute !important;
    bottom: 5px !important;
    z-index: 999 !important;
  }*/

  #study {
    position: absolute !important;
    bottom: 5px !important;
    z-index: 999 !important;
  }

  .leaflet-popup-content-wrapper {
    background-color: #045a41;
    opacity: 0.8;
    font-family: serif;
  }

  .popheader {
    font-size: 1.5em;
    text-align: center;
    color: white;
  }
  .popcontent {
    color: white;
    text-align: center;
  }

  .join {
    color: white;
    background: none;
    border: 1px solid white;
    border-radius: 10%;
    font-size: 1.3em;
  }

}
