page-set-location {
  .header {
    color: red;
  }

  .buttons {
    text-align: center;
  }

  ion-list-header {
    text-align: center;
  }
  .location ion-input {
    font-family: 'CenturyGothic';
  }
}
