page-set-location {
  .header {
    color: red;
  }

  .buttons {
    text-align: center;
  }

  ion-item-divider {
    background-color: #323232 !important;
    color: white !important;
    text-align: center;
  }
}
