page-welcome {
  .content{
    background-color: #626262;
  }
  color: white;
}

.symplLogo{
  margin: auto;
  display: block;
}

.body{
  padding-top: 100px;

}

.inputFields{

    padding-top: 65px;

    ion-item{
      background-color: #626262;
      padding: 10px;
    }

    ion-label{
      color: white;
    }

    ion-input{
      color: white;
    }

    ion-icon{
        color: white;
    }
}

.loginBtn{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
}

.signUpBtn{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}
