page-welcome {

}

.symplLogo{
  margin: auto;
  display: block;
}

.body{
  padding-top: 100px;

}

.inputFields{

    padding-top: 15%;

    ion-item{
      padding: 2%;
      color: grey;
    }

    ion-label {
      color: grey;
    }
}

.loginBtn{
  padding: 2%;
}

.signUpBtn{
  padding: 2%;
}
