<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Search for classes to add to your schedule! "></ion-searchbar>
  <ion-list>

    <!-- <h2>{{course.name}}</h2> -->
    <ion-item *ngFor="let course of queryList">
      <ion-label>{{course.name}}</ion-label>
        <ion-select (click)=listSections(course) (ionChange)="addToUser()" cancelText="Nah" okText="Add!">

          <!-- <div > -->
            <ion-option *ngFor="let section of sectionList" [value]="section.sectionNumber" (ionSelect) = "addSection(section)">{{section.sectionNumber}}</ion-option>
          <!-- </div> -->

        </ion-select>
      </ion-item>

  </ion-list>
</ion-content>
