<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <ion-list *ngFor="let course of queryList">

    <!-- <h2>{{course.name}}</h2> -->
    <ion-item (click)=listSections(course)>
      <ion-label>{{course.name}}</ion-label>
        <ion-select (ionChange) = "addSection(section)" *ngFor="let section of sectionList">

          <ion-option [value]="section.sectionNumber">{{section.sectionNumber}}</ion-option>

        </ion-select>
      </ion-item>

  </ion-list>
</ion-content>
