page-schedule {
  button {
    width: 100%;
    margin: auto;
  }

  ion-item{
    height: 80px;
  }

  .eventTitle{
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 5px;
  }

  .eventClass{
    padding-bottom: 5px;
    font-size: 16px;
    color: grey;
  }

  .eventDueDate{
    font-size: 16px;
    color: grey;
  }

  .ion-calendar-row {
    max-width: 100%;
    margin: auto;
    // margin: auto;
  }
  .ion-calendar-header-title {
    max-width: 100% !important;
  }
  .button-default {
    max-width: 12%;
    margin: 1% !important;
  }
}

//for the calendar

.calendarCSS{

  ion-header{
    .toolbar-background-md,.toolbar-background-ios{
      background-color: #f53d3d;
    }
    .toolbar-title-md,.toolbar-title-ios{
      color: #fff;
    }
    .bar-button-clear-md,.bar-button-clear-ios{
      color: #fff;
    }
    .week-title{
      background-color: rgba(245, 61, 61, 0.64);
      color: #fff;
    }
  }

  ion-content{

    background-color: #faf4c6;

    .month-box{
      background-color: #eaeaea;
    }

    .days-btn,.month-title{
      color: #f53d3d;
    }
    button.days-btn.on-selected{
      background-color: #f53d3d !important;;
    }
  }

  .days {
    width: 14.28% !important;
  }

  .days button p {
    font-size: 0.9em;
  }

  .days button small {
    font-size: 2.2em !important;
  }

  @keyframes rubberBand {
    from {
      transform: scale3d(1, 1, 1);
    }

    30% {
      transform: scale3d(1.25, 0.75, 1);
    }

    40% {
      transform: scale3d(0.75, 1.25, 1);
    }

    50% {
      transform: scale3d(1.15, 0.85, 1);
    }

    65% {
      transform: scale3d(.95, 1.05, 1);
    }

    75% {
      transform: scale3d(1.05, .95, 1);
    }

    to {
      transform: scale3d(1, 1, 1);
    }
  }

  .rubberBand {
    animation-name: rubberBand;
  }

}
