<ion-header>
  	<ion-navbar>
  		<ion-buttons start>
      		<button ion-button icon-only (click)="basic()">
        		<ion-icon color="primary" ios="ios-calendar" md="md-calendar"></ion-icon>
      		</button>
    	</ion-buttons>
      <ion-buttons end>
        <button ion-button icon-only (click)="addEvent()">
          <ion-icon color="primary" ios="ios-add" md="md-add"></ion-icon>
        </button>
     </ion-buttons>
    	<ion-title>Assignments</ion-title>
  	</ion-navbar>
</ion-header>
<ion-content>
  <!-- <ion-item class="filter">
    <ion-label>Sort</ion-label>
    <ion-select interface="popover" class="select" [(ngModel)]="filterBy" (ionChange)="filter()">
      <ion-option value="class">Class</ion-option>
      <ion-option value="dueDate">Due Date</ion-option>
    </ion-select>
  </ion-item> -->
  <ion-list>
    <div *ngFor="let event of allEvents">
      <ion-list-header *ngIf="event.first">{{event.event.dueDate | date: 'EEEE, MMM dd'}}</ion-list-header>
      <ion-item  (tap)="gotoEvent(event)">
        <div class="eventTitle">
          {{event.event.section.courseName}}

        </div>
        <span>
          <p> Assignment:
            <a class="eventClass">
               {{event.event.title}}
            </a>
          </p>
        </span>
        <span>
          <p> Due Time:
            <a class="eventDueDate">
              {{event.event.dueTime | date: 'h:mm a'}}
            </a>
          </p>
        </span>
        <span item-end class="length" *ngIf="event.voted">-{{event.event.downvotes.length}}</span>
        <ion-icon *ngIf="!event.voted" color="dark" id="thumbs-down" ios="ios-thumbs-down" md="md-thumbs-down" item-end (tap)="downvote(event.event)"></ion-icon>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
