<ion-header>
  	<ion-navbar>
  		<ion-buttons start>
      		<button ion-button icon-only (click)="basic()">
        		<ion-icon color="primary" ios="ios-calendar" md="md-calendar"></ion-icon>
      		</button>
    	</ion-buttons>
      <ion-buttons end *ngIf="currentUser">
        <button ion-button icon-only (click)="addEvent()" *ngIf="currentUser.teaching.length != 0">
          <ion-icon color="primary" ios="ios-add" md="md-add"></ion-icon>
        </button>
     </ion-buttons>
    	<ion-title>Assignments</ion-title>
  	</ion-navbar>
</ion-header>
<ion-content>
  <div class="empty" text-center *ngIf="allEvents.length == 0">
    <h2> No Assignments </h2>
  </div>
  <ion-list *ngIf="currentUser">
    <div *ngFor="let event of allEvents">
      <ion-list-header *ngIf="event.first">{{event.event.dueDate | date: 'EEEE, MMM dd'}}</ion-list-header>
      <ion-item >
        <div class="eventTitle" (tap)="gotoEvent(event)">
          {{event.event.section.courseName}}

        </div>
        <span (tap)="gotoEvent(event)">
          <p> Assignment:
            <a class="eventClass">
               {{event.event.title}}
            </a>
          </p>
        </span>
        <span (tap)="gotoEvent(event)">
          <p> Due Time:
            <a class="eventDueDate">
              {{event.event.dueTime | date: 'h:mm a'}}
            </a>
          </p>
        </span>
        <!-- <span item-end class="length" *ngIf="event.voted">-{{event.event.downvotes.length}}</span> -->
          <ion-icon  ios="ios-color-wand" md="md-color-wand" *ngIf="currentUser.teaching.length != 0" item-end (tap)="editEvent(event.event)"></ion-icon>
        <!-- <ion-note item-end (tap)="options($event)">
          <ion-icon ios="ios-arrow-down" md="md-arrow-down"></ion-icon>
        </ion-note> -->
      </ion-item>
    </div>
  </ion-list>
</ion-content>
