page-schedule {
  button {
    width: 100%;
    margin: auto;
  }

  .eventTitle{
    font-size: 1.3em;
  }

  .eventClass{
    color: grey;
  }

  .eventDueDate{
    color: grey;
  }

  .ion-calendar-row {
    max-width: 100%;
    margin: auto;
  }
  .ion-calendar-header-title {
    max-width: 100% !important;
  }
  .button-default {
    max-width: 12%;
    margin: 1% !important;
  }
  .length {
    color: #FF1654;
  }
  .filter {
    font-size: 0.9em;
    height: 5%;
  }
  ion-list-header {
    // background-color: #BEAAB6 !important;
    text-align: center;
  }
  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }
}

//for the calendar

.calendarCSS{

  ion-header{
    .toolbar-background-md,.toolbar-background-ios{
      background-color: #045a41;
    }
    .toolbar-title-md,.toolbar-title-ios{
      color: #fff;
    }
    .bar-button-clear-md,.bar-button-clear-ios{
      color: #fff;
    }
    .week-title{
      background-color: #1A6952;
      color: #fff;
    }
  }

  ion-content{

    background-color: #faf4c6;

    .month-box{
      background-color: #eaeaea;
    }

    .days-btn,.month-title{
      color: #045a41;
    }
    button.days-btn.on-selected{
      background-color: #045a41 !important;;
    }
  }

  .days {
    width: 14.28% !important;
  }

  .days button p {
    font-size: 0.95em;
  }

  .days button small {
    font-size: 2.2em !important;
  }

  .marked p, .marked small {
    color: #FFBA08 !important;
  }

  .today p {
    color: #FFBA08 !important;
  //   // font-size: 1.1em !important;
  //   padding: 20%;
  //   border-bottom: 2px solid lightgreen !important;
  //   border-radius: 100%;
  }

}
