page-signup {

  .signUpBtn{
    padding: 3%;
  }

  .licon {
    color: dimgrey;
  }

  ion-label{
    color: grey;
  }

  ion-input{
    color: grey;
  }

  .profileHeader {
    margin: 5%;
  }

  .avatar {
    border-radius: 50%;
    width: 50%;
    margin: auto;
  }



}
